#home.home-box{
    background: url("./images/home_new.jpg");
    background-size: cover;
    background-position: center;
    /*padding: 100px 20px;*/
    color: #000;
    text-align: center;
    height: 700px;
    /*width: 100%;*/
    background-repeat: no-repeat;
}

#home .home-content{
text-align: left;
text-wrap: wrap;
}

#section{
    background: url("./images/section.jpg");
}

#section .home-content{
    text-align: center;
}
#navbar{
    display: flex;
}

.nav-links{
    display:flex;
    flex-direction: row;
    
}
.nav-links li{
    list-style: none;
    margin-right: 5%;
}

.area{
    width: 25%;
    justify-content: center;
    justify-content: center;
}

.search-box{
    padding-top: 1%;
}