#home.home-box{
    background: url("./images/home.jpg");
    background-size: cover;
    background-position: center;
    /*padding: 100px 20px;*/
    color: #000;
    text-align: center;
    height: 700px;
    /*width: 100%;*/
    background-repeat: no-repeat;
}

#home .home-content{
text-align: left;
text-wrap: wrap;
}

#section{
    background: url("./images/section.jpg");
}
